body {
  background: url("https://img.freepik.com/premium-photo/watercolor-wallpaper-gradient-tint-background_687553-7917.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.transbox {
  margin: 120px auto;
  max-width: 600px;
  padding: 40px 20px;
  background-color: #fef8fc;
  border: none;
  border-radius: 20px;
  opacity: 0.6;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 55px;
  line-height: 1;
  color: black;
  margin: 10px;
}

form {
  padding: 20px;
  display: flex;
}

input[type="text"] {
  width: 70%;
  border: 2px solid #f195ba;
  border-radius: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  padding: 10px 20px;
}

input[type="submit"] {
  background-color: #f195ba;
  border: 2px solid #fef8fc;
  color: #fef8fc;
  text-decoration: none;
  border-radius: 15px;
  padding: 12px 15px;
  font-size: 15px;
}

footer{
  text-align: center;
  margin-top: 60px;
}

a:link {
  color: #f195ba;
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: #ccc;
}

a:hover {
  color: #fef8fc;
}

a:active {
  color: #000;