body {
  background: url("https://img.freepik.com/premium-photo/watercolor-wallpaper-gradient-tint-background_687553-7917.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.transbox {
  margin: 120px auto;
  max-width: 600px;
  padding: 40px 20px;
  background-color: #fef8fc;
  border: none;
  border-radius: 20px;
  opacity: 0.6;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 55px;
  line-height: 1;
  color: black;
  margin: 10px;
}

form {
  padding: 20px;
  display: flex;
  margin-bottom: 0;
}

input[type="text"] {
  width: 80%;
  border: 2px solid #f195ba;
  border-radius: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
}

input[type="submit"] {
  background-color: #f195ba;
  border: none;
  color: #fef8fc;
  width: 150px;
  border-radius: 50px;
  margin-left: 5px;
  padding: 14px 24px;
  font-size: 15px;
}

.ins {
  text-align: center;
  font-size: 16px;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
}

.words {
  margin-left: 30px;
  margin-top: 0;
  line-height: 25px;
  font-size: 16px;
}

.hidden {
  display: none;
}

.words strong {
  color: #eb4f8d;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  margin-left: 20px;
}

a {
  color: #f195ba;
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: #ccc;
}

a:hover {
  color: #fef8fc;
}

a:active {
  color: #000;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@media (max-width: 960px) {
  body {
    background-repeat: repeat;
    background-size: cover;
  }

  .ins {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }

  div.transbox {
    margin: 250px 10px;
    padding: 30px 10px;
  }

  h1 {
    font-size: 40px;
  }

  input[type="text"] {
    width: 70%;
    font-size: 13px;
    line-height: 18px;
    padding: 8px;
  }

  input[type="submit"] {
    width: 120px;
    padding: 12px 20px;
    font-size: 13px;
  }

  .words {
    margin-left: 10px;
    font-size: 14px;
    line-height: 22px;
  }
}
